<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lovelace</title>
    <link rel="stylesheet" href="css/styles.css">
</head>

<body>
       <header>
    <h1>DH Héroes</h1>
    <nav>
        <div class="contenedor nav-content">
            <a href="/" class="enlaces">Home</a>
            <a href="/babbage" class="enlaces active">Babbage</a>
            <a href="/berners-lee" class="enlaces">Berners-Lee</a>
            <a href="/clarke" class="enlaces">Clarke</a>
            <a href="/hamilton" class="enlaces ">Hamilton</a>
            <a href="/hopper" class="enlaces">Hopper</a>
            <a href="/lovelace" class="enlaces">Lovelace</a>
            <a href="/turing" class="enlaces">Turing</a>
        </div>
    </nav>

    <h2>Ada Lovelace</h2>

    <div class="centrar-imagen">
        <img src="img/lovelace.jpg" alt="">
    </div>

    <div class="informacion">
        <p>Augusta Ada King, condesa de Lovelace, estuvo registrada al nacer como Augusta Ada Byron y conocida
            habitualmente como Ada Lovelace, fue una matemática y escritora británica, célebre sobre todo por su trabajo
            acerca de la calculadora de uso general de Charles Babbage, la denominada máquina analítica.</p>
    </div>
</body>

</html>